.main-box
  .main-box__header
    = link_to '#', class:"main-box__header--link" do
      = image_tag "logo.png"
  .box
    .box__header
      %h3 新規会員登録
    .box__form
      = form_for(@user, url: user_registration_path) do |f|
        = render "devise/shared/error_messages", resource: @user
        .field__nickname
          = f.label :"ニックネーム"
          %span 必須
          %br/
          = f.text_field :nickname, autofocus: true, placeholder: "例）フリマ二郎"
        .field__email
          = f.label :"メールアドレス"
          %span 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例）xxx@gmail.com"
        
        - if @sns_id.present?
          = hidden_field_tag :sns_auth, true 
        - else
          .field__password  
            = f.label :"パスワード"
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} 文字以上)
            %span 必須
            %br/
            = f.password_field :password, autocomplete: "new-password"
          .field__confimation
            = f.label :"パスワード確認用"
            %span 必須
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"

        .field__reference
          %h7.check 本人確認
          %p  安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。


        .field__surname
          = f.label :"名字"
          %span 必須
          %br/
          = f.text_field :last_name
        .field__name
          = f.label :"名前"
          %span 必須
          %br/
          = f.text_field :first_name


        .field__confimation
          = f.label :"名字（かな）"
          %span 必須
          %br/
          = f.text_field :last_name_kana
        .field__confimation
          = f.label :"名前（かな）"
          %span 必須
          %br/
          = f.text_field :first_name_kana


        .field__birthday
          = f.label :"誕生日"
          %span 必須
          %br/
          = f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)

        .field__actions
          = f.submit "次へ", { :class => 'submit-btn' }
        
        - if Rails.env == 'development'
          = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post
          = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post
        .field__botan
          = render "devise/shared/links"

  .box__footer
    .box__footer__message
      %ul.menu
        %li.menu__me
          = link_to "#", class: "me1" do
            プライバシーポリシー
        %li.menu__me
          = link_to "#", class: "me1" do
            メルカリ利用規約
        %li.menu__me
          = link_to "#", class: "me1" do
            特定商取引に関する表記
      = link_to '#', class:"main-box__header--link" do
        = image_tag "logo-white.png"
      %p© FURIMA
