.wrapper
  .input_area
    = form_for [@item] do |f|
      .image
        .image__top
          出品画像
          %span.image__top--red
            必須
        .image__text
          最大３枚までアップロードできます。
        %label
          .image_form
            = icon('fas', 'camera', class: "image_form__item image_form__item--icon")
            .image_form__item
              ドラッグアンドドロップ
              -# ドラックアンドドロップについてはjquery時に作業するorクリック式のみのアップロードにしてドロップアンドドロップを消す
            .image_form__item
              またはクリックしてファイルをアップロード
            = f.fields_for :item_images do |i|
              = i.file_field :image_url, class: "image_form__item--display" 
      .overview
        .name
          .name__top
            商品名
            %span.name__top--red
              必須
          = f.text_field :name, class: "name__form", placeholder: "40文字まで"
        .explain
          .explain__top
            商品の説明
            %span.name__top--red
              必須
          = f.text_area :explain, class: "explain__form", placeholder: "商品の説明 (1000文字まで)"
          .explain_bottom
            .explain_bottom__caracters_number
              0/1000
      .detail
        商品の詳細
        .category
          .category__top
            カテゴリー
            %span.category__top--red
              必須
          = f.select :category_id, [["レディース", 1 ], ["メンズ", 2]], {prompt: "✔︎ 選択してください"}, {class: "category__form"}
        .brand
          .brand__top
            ブランド
            %span.brand__top--gray
              任意
          = f.text_field :brand, class: "brand__form", placeholder: "例) シャネル"
        .status
          .status__top
            商品の状態
            %span.status__top--red
              必須
          = f.fields_for :item_status do |d|
            = f.collection_select :status, ItemStatus.all, :id, :name, {prompt: "✔︎ 選択してください"}, {class: "status__form"}
      .shipping_relation
        配送について
        .fee
          .fee__top
            配送料の負担
            %span.fee__top--red
              必須
          = f.fields_for :item_shipping_fee do |d|
            = f.collection_select :shipping_fee, ItemShippingFee.all, :id, :name, {prompt: "✔︎ 選択してください"}, {class: "fee__form"}
        .method
          .method__top
            配送方法
            %span.method__top--red
              必須
          = f.fields_for :item_shipping_method do |d|
            = f.collection_select :shipping_method, ItemShippingMethod.all, :id, :name, {prompt: "✔︎ 選択してください"}, {class: "method__form"}
        .owner_area
          .owner_area__top
            発送元の地域
            %span.owner_area__top--red
              必須
          = f.fields_for :prefecture do |d|
            = f.collection_select :owners_area, Prefecture.all, :id, :name, {prompt: "✔︎ 選択してください"}, {class: "owner_area__form"}
        .arrival_date
          .arrival_date__top
            発送までの日数
            %span.arrival_date__top--red
              必須
          = f.select :arrival_date, [["1~2日で発送"],["3~4日で発送"]], {prompt: "✔︎ 選択してください"}, {class: "arrival_date__form"}
      .price
        .price__limit
          価格（¥300~9,999,999）
        .price_input
          .price_input__top
            販売価格
            %span.price_input__top--red
              必須
          .price_input__form
            ¥
            = f.number_field :price, class: "price_input__form--number", placeholder: "0"
        .brokerge_fee
          .brokerge_fee__rate
            販売手数料（10％）
          .brokerge_fee__calculation
            ー
        .profit
          .profit__text
            販売利益
          .profit__calculation
            ー
      .submit
        = f.submit "出品する", class: "submit__btn"
        -# %input{type: "submit", value: "出品する", class: "submit__btn"}
      .link_top_page
        =link_to "#", class: "link_top_page__text" do
          もどる
      .cautions_information
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。



