.search-container
  .category-pickup
    %h1.category-pickup__title
      検索結果
    - if @items.length == 0
      %h2.category-pickup__none
        検索した単語が含まれる商品はありません。 
    .category-pickup__box
      .category-pickup__box__head
        = link_to "#", class:"title" do
          %h3.title__text 

      .category-pickup__lists-box
        - @items.each do |item|
          .category-lists
            =link_to item_path(item.id) do
              - if item.buyer_id?
                .sold-badge
              = image_tag item.item_images.first.image.url, class: 'lists__image--img'
              .category-lists__box
                %h3.category-lists__name
                  = item.name
                .category-lists__price-box
                  %ul.price
                    %li.price-list
                      = "#{item.price}円" 
                    %li.favorite
                      = icon('fas', 'star', class: 'icon_favorite')
                      0
                  %P.tax
                    (税込)
      = paginate @items